body {
  font-family: 'Peralta', courier;
  font-size: 36px;
  background-color: #C00000;
  background-image: url(../img/retro-robot.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 90% 100%;
  background-size: 48%;
}

.jumbotron {
  margin-top: 30px;
  border: 8px double black;
  box-shadow: 8px 8px;
  padding: 10px 30px;
  font-size: 50px;
  text-align: center;
  background-color: #DBC4CE;
}

#enterNumber {
  display: none;
}

button {
  font-family: 'Peralta', courier;
  letter-spacing: 2px;
}

.numberOutput {
  display: none;
  border: 2px double #C5E1D8;
  width: 575px;
  padding-left: 20px;
  background-image: url(../img/computer-paper.jpg);
}

.smallText {
  font-size: 22px;
}
