body {
  font-family: 'Atomic Age', cursive;
  font-size: 36px;
  background-color: #C00000;
  background-image: url(../img/retro-robot.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 90% 100%;
  background-size: 48%;
}

.jumbotron {
  font-family: 'Peralta', courier;
  margin-top: 30px;
  border: 8px double black;
  box-shadow: 8px 8px;
  padding: 10px 30px;
  font-size: 50px;
  text-align: center;
  background-color: #DBC4CE;
}

button {
  font-family: 'Peralta', courier;
  letter-spacing: 2px;
}

.output {
}

.smallText {
  font-size: 24px;
}
